
h1 {

    font-size: 36px;
    color: white;
    text-align: center;


}

body{

    background-color: black;
    color: rgb(246, 192, 73)
}

h2 {

    color: navy;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;

}

/* this is a p tag*/

p {

    font-size: 25px;

}

/* this is a comment*/

#pinkparagraph {

    color: pink;

}

.pretty {

    color: turquoise;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


.ugly {

    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.header {
    z-index: 10;   
    top: 5px;
    left: 15px;
    right: 25px;
    height: 100px;
    position: fixed;
    border: 2px solid white;
}

.common {

background-color: rgb(23, 32, 197);
border: 2px solid white;
position: absolute;


}

.left {

    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;

}

.main {

    top: 115px;
    left: 150px;
    width: 140px;
    bottom: 40px;

}

.right {

    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer {

    bottom: 5px;
    height: 50px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: rgb(223, 11, 149);
    border: 2px solid white;

}


.redtext {

    color: red;
    font-weight: bold;

}